h1,
h3 {
    text-align: center;
}

table {
    border: 5px solid black;
    width: 50%;
    margin: auto;
    table-layout: fixed;
}

td {
    border: 2px solid black;
    height: 60px;
    padding-left: 10px;
}