h1,
h3 {
    text-align: center;
}

table {
    border: 5px solid black;
    width: 50%;
    margin: auto;
    table-layout: fixed;
}

td {
    position: relative;
    border: 2px solid black;
    height: 60px;
    text-align: center;
}

#tableText {
    position: relative;
    z-index: 10;
}

#barCanvas {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}